@use 'variables'as v;



html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    
    &.fijar-body {
      overflow: hidden;   //para no dar scroll en la pagina del fondo
    }
    &.body-scroll{
      padding-top: 6.5rem;
    }

}
 p {
    font-size: 2rem;
    color: v.$negro;
 }

 .contenedor{
    width: 95%;
    max-width: 120rem;
    margin:0 auto;
 }

 a {
    text-decoration: none;

 }
 h1, h2, h3 {
   margin: 0 0 5rem 0;
 }
 h1{
    font-size: 4rem;
 }
 h2{
   font-size: 3.5rem;
 }
 h3{
    font-size: 3rem;
 }
 img{
   width: 100%;
   display: block;
 }