@use 'variables'as v;

// @mixin heading($color: black, $border-radius: false ) {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1px;
//     background-color: black;
      
//       @if $border-radius{
//          border-radius: 1rem;
//   }
// }
@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }

} 

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }

} 

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }

} 

@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }

} 
@mixin grid($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    
}